/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F41010;
  color: white;
}
body {
  background-color: #F9DED8;
  background-image: url("gamebg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 50px;
  color: grey;
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
}
h2 {
  font-size: 25px;
  color: #6DF29B;
  text-align: center;
  font-family: Helvetica;
  font-weight: normal;
}
p {
  color: #6DF29B;
  font-family: verdana;
  font-size: 15px;
}
li {
  color: grey;
  font-family: Georgia;
  font-size: 17px;
  font-weight: normal;
}
h3 {
  color: green;
  font-family: verdana;
  font-size: 17px;
  font-weight: normal;
}
a {
  color: red;
  font-family: verdana;
  font-size: 20px;
  font-weight: lighter;
}
h4 {
  color: grey;
  font-family: verdana;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
}
.img-container {
  text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}
