/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.quitbtn {
  padding: 100px 30px;
  background-color: #f44336;
  position: absolute;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F41010;
  color: white;
}
body {
  background-color: #F9DED8;
  background-image: url("../pic/gamebg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 50px;
  color: grey;
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
}
h2 {
  font-size: 25px;
  color: #6DF29B;
  text-align: center;
  font-family: verdana;
  font-weight: normal;
}
p {
  color: #6DF29B;
  font-family: verdana;
  font-size: 15px;
}
li {
  color: grey;
  font-family: Georgia;
  font-size: 17px;
  font-weight: normal;
}
h3 {
  color: green;
  font-family: verdana;
  font-size: 17px;
  font-weight: normal;
}
a {
  color: red;
  font-family: verdana;
  font-size: 20px;
  font-weight: lighter;
}
h4 {
  color: grey;
  font-family: verdana;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
}
.img-container {
  text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.column {
  float: left;
  width: 45%;
}
.columntwo {
  float: right;
  width: 45%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.8s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6DF29B;
  display: block;
  transition: 1.0s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: transparent;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 1.2s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.more {
  background-color: transparent;
  color: white;
  font-family: verdana;
  cursor: pointer;

}
